<apex:page standardController="Lead" extensions="NewLeadWizardDQSController" tabStyle="Lead">
	<c:NewRecordWizardDQSComponent manager="{!recordManager}" 
		obj="{!currentObject}" 
		createRecordButtonTitle="{!$Label.DQS_Button_Create_Lead}" 
		inputFieldSectionTitle="{!$Label.DQS_Page_Lead_Input_Section_Title}"
	/>
</apex:page>